doctype html
html
  head
    title IoT Demo
    meta(charset='urt-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
    #list
      .container
        .page-header
          .row
            .col-lg-12
              h1 α 云平台开发者对接示例
        .row
          .col-lg-4
            ul.breadcrumb
              li.active 传感器管理
        .bs-docs-section
          .row
            .col-lg-12
              .container-fluid
                .collapse.navbar-collapse
                  .navbar-form.navbar-right
                    .form-group
                      input#searchInput.form-control(type='text' placeholder='根据设备编号搜索.')
              table.table.table-striped.table-hover
                thead
                  tr
                    th 设备编号
                    th 温度
                    th 光线
                    th 湿度
                    th 经纬度
                    th 自定义数据
                tbody
                  each device in data
                    tr
                      td
                        a(href='/views/details?sn=' + device.sn  title='详情')
                          span= device.sn
                      if device.sensorData && device.sensorData.temperature
                        td= device.sensorData.temperature + ' °C'
                      else
                        td.text-danger='未知'
                      if device.sensorData && device.sensorData.light
                        td= device.sensorData.light +' Lx'
                      else
                        td.text-danger='未知'
                      if device.sensorData && device.sensorData.humidity
                        td= device.sensorData.humidity + ' %RH'
                      else
                        td.text-danger='未知'
                      td= device.sensorData && device.sensorData.lonlat
                      if device.sensorData && device.sensorData.customer
                        td= device.sensorData.customer
                      else
                        td.small= '无'
            .col-lg-8
              ul.pagination
                li
                  a(href='/views?page=' + ((Number(page)-1) <= 0 ? 1: (Number(page)-1)) + '&count=' + count) «
                  - for (var i = 1; i<=parseInt(total_count/count)+1; i++)
                    if page === i
                      li.active
                        a(href='/views?page=' + i + '&count=' + count)=i
                    else
                      li
                        a(href='/views?page=' + i + '&count=' + count)=i
                li
                  a(href='/views?page=' + ((Number(page) + 1) >= parseInt(total_count/count)+1 ? parseInt(total_count/count)+1: (Number(page) + 1)) + '&count=' + count) »
    #footer
      .container
        .bs-docs-section
          .row
            .col-lg-12
              p Copyright © 2016 Sensoro Inc. All rights reserved.
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script.
      $('#searchInput').on('keydown', search)
      function search(event) {
        if (event.keyCode === 13) {
          var sn = document.getElementById('searchInput').value;
          if (sn) {
            window.location.href='/views?sn=' + sn;
          } else {
            window.location.href='/views';
          }
        }
      }